@{
    ViewData["Title"] = "Error";
}

	<!-- Main Container Starts -->
		<div class="container main-container">
			<div class="block-404 text-center">
				<h2 class="text-uppercase"><span>4<i class="fa fa-exclamation-circle"></i>4</span><br>Err<i class="fa fa-exclamation-circle"></i>r</h2>
				<h5>Looks like the page you are looking for does not exists</h5>
				<p>
					If you come here from a bookmark, please remember to update your bookmark.
				</p>
				<a href="index-2.html" class="btn btn-lg btn-secondary">
					<i class="fa fa-home"></i>
					Go To Home Page
					<i class="fa fa-chevron-right"></i>
				</a>
			</div>
		</div>
	<!-- Main Container Ends -->