@{
	ViewData["Title"] = "FAQs";
}
	<!-- Main Container Starts -->
		<div class="container main-container">
			<h3 class="main-heading2 nomargin-top">Frequently Asked Questions</h3>
			<br>
			<p>			
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
			</p>
			<p>
				Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</p>
		<!-- FAQ's Accordions Starts -->
			<div class="panel-group" id="accordion-faqs">
			<!-- Accordion #1 Starts -->
				<div class="panel">
				<!-- Panel Heading Starts -->
					<div class="panel-heading">
						<h5 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-faqs" href="#collapse1">
								Any Information you provide on applications for disability, life or accidental insurance ?
							</a>
						</h5>
					</div>
				<!-- Panel Heading Ends -->
				<!-- Panel Body Starts -->
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quat. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
							</p>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
								<li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliq.</li>
								<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco quat. It is a long established fact.</li>
								<li>That a reader will be distracted by the readable content of a page when looking at its layout.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
								<li>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</li>
								<li>Quis nostrud exercitation ullamco quat. It is a long established fact that a reader will be distracted.</li>
								<li>Readable content of a page when looking at its layout.</li>
								<li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
								<li>Opposed to using 'Content here, content here', making it look like readable English.</li>
							</ul>
						</div>
					</div>
				<!-- Panel Body Ends -->						
				</div>
			<!-- Accordion #1 Ends -->
			<!-- Accordion #2 Starts -->
				<div class="panel">
				<!-- Panel Heading Starts -->
					<div class="panel-heading">
						<h5 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-faqs" href="#collapse2">
								Opposed to using 'Content here, content here', making it look like readable English ?
							</a>
						</h5>
					</div>
				<!-- Panel Heading Ends -->
				<!-- Panel Body Starts -->
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<p>
								Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</p>
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quat. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
							</p>
						</div>
					</div>
				<!-- Panel Body Ends -->						
				</div>
			<!-- Accordion #2 Ends -->
			<!-- Accordion #3 Starts -->
				<div class="panel">
				<!-- Panel Heading Starts -->
					<div class="panel-heading">
						<h5 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-faqs" href="#collapse3">
								Readable content of a page when looking at its layout ?
							</a>
						</h5>
					</div>
				<!-- Panel Heading Ends -->
				<!-- Panel Body Starts -->
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							<p>
								Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</p>
							<ol>
								<li>Quis nostrud exercitation ullamco quat. It is a long established fact that a reader will be distracted.</li>
								<li>Readable content of a page when looking at its layout.</li>
								<li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
								<li>Opposed to using 'Content here, content here', making it look like readable English.</li>
							</ol>
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</p>
						</div>
					</div>
				<!-- Panel Body Ends -->						
				</div>
			<!-- Accordion #3 Ends -->
			<!-- Accordion #4 Starts -->
				<div class="panel">
				<!-- Panel Heading Starts -->
					<div class="panel-heading">
						<h5 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-faqs" href="#collapse4">
								Opposed to using 'Content here, content here', making it look like readable English ?
							</a>
						</h5>
					</div>
				<!-- Panel Heading Ends -->
				<!-- Panel Body Starts -->
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
							<p>
								Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</p>
							<ol>
								<li>Quis nostrud exercitation ullamco quat. It is a long established fact that a reader will be distracted.</li>
								<li>Readable content of a page when looking at its layout.</li>
								<li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
								<li>Opposed to using 'Content here, content here', making it look like readable English.</li>
							</ol>
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</p>
						</div>
					</div>
				<!-- Panel Body Ends -->						
				</div>
			<!-- Accordion #4 Ends -->
			<!-- Accordion #5 Starts -->
				<div class="panel">
				<!-- Panel Heading Starts -->
					<div class="panel-heading">
						<h5 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-faqs" href="#collapse5">
								Readable content of a page when looking at its layout ?
							</a>
						</h5>
					</div>
				<!-- Panel Heading Ends -->
				<!-- Panel Body Starts -->
					<div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body">
							<p>
								Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</p>
							<ol>
								<li>Quis nostrud exercitation ullamco quat. It is a long established fact that a reader will be distracted.</li>
								<li>Readable content of a page when looking at its layout.</li>
								<li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
								<li>Opposed to using 'Content here, content here', making it look like readable English.</li>
							</ol>
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</p>
						</div>
					</div>
				<!-- Panel Body Ends -->						
				</div>
			<!-- Accordion #5 Ends -->
			</div>
		<!-- FAQ's Accordions Ends -->
		</div>
	<!-- Main Container Ends -->