@{
    ViewData["Title"] = "Services";
}


	<!-- Main Container Starts -->
<div class="container main-container">
    <!-- Services Tab Starts -->
    <div class="tabs-wrap">
        <!-- Nav Tabs Starts -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-1" aria-controls="tab-1" data-toggle="tab">
                    <div class="icon hidden-sm hidden-xs">
                        <img src="/images/icons/band-aid.png" alt="Band Aid">
                    </div>
                    <h5>First Aid</h5>
                </a>
            </li>
            <li>
                <a href="#tab-2" aria-controls="tab-2" data-toggle="tab">
                    <div class="icon hidden-sm hidden-xs">
                        <img src="/images/icons/tooth.png" alt="Dental Care">
                    </div>
                    <h5>Dental Care</h5>
                </a>
            </li>
            <li>
                <a href="#tab-3" aria-controls="tab-3" data-toggle="tab">
                    <div class="icon hidden-sm hidden-xs">
                        <img src="/images/icons/ambulance.png" alt="24x7 Ambulance">
                    </div>
                    <h5>24x7 Ambulance</h5>
                </a>
            </li>
            <li>
                <a href="#tab-4" aria-controls="tab-4" data-toggle="tab">
                    <div class="icon hidden-sm hidden-xs">
                        <img src="/images/icons/nurse.png" alt="Qualified Doctors">
                    </div>
                    <h5>Qualified Doctors</h5>
                </a>
            </li>
            <li>
                <a href="#tab-5" aria-controls="tab-5" data-toggle="tab">
                    <div class="icon hidden-sm hidden-xs">
                        <img src="/images/icons/saline-bottle.png" alt="Medical Pharmacy">
                    </div>
                    <h5>Medical Pharmacy</h5>
                </a>
            </li>
            <li>
                <a href="#tab-6" aria-controls="tab-6" data-toggle="tab">
                    <div class="icon hidden-sm hidden-xs">
                        <img src="/images/icons/stethoscope.png" alt="Pulmonary">
                    </div>
                    <h5>Pulmonary</h5>
                </a>
            </li>
        </ul>
        <!-- Nav Tabs Ends -->
        <!-- Tab Content Starts -->
        <div class="tab-content">
            <!-- Tab #1 Starts -->
            <div class="tab-pane fade in active" id="tab-1">
                <div class="row">
                    <!-- Box #1 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img1.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>First Aid</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #1 Ends -->
                    <!-- Box #2 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>First Aid</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #2 Ends -->
                    <!-- Box #3 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>First Aid</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #3 Ends -->
                    <!-- Box #4 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img4.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>First Aid</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #4 Ends -->
                    <!-- Box #5 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>First Aid</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #5 Ends -->
                    <!-- Box #6 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img6.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>First Aid</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #6 Ends -->
                </div>
            </div>
            <!-- Tab #1 Ends -->
            <!-- Tab #2 Starts -->
            <div class="tab-pane fade" id="tab-2">
                <div class="row">
                    <!-- Box #1 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img6.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Dental Care</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #1 Ends -->
                    <!-- Box #2 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Dental Care</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #2 Ends -->
                    <!-- Box #3 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img4.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Dental Care</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #3 Ends -->
                    <!-- Box #4 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Dental Care</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #4 Ends -->
                    <!-- Box #5 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Dental Care</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #5 Ends -->
                    <!-- Box #6 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img4.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Dental Care</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #6 Ends -->
                </div>
            </div>
            <!-- Tab #2 Ends -->
            <!-- Tab #3 Starts -->
            <div class="tab-pane fade" id="tab-3">
                <div class="row">
                    <!-- Box #1 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>24x7 Ambulance</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #1 Ends -->
                    <!-- Box #2 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img6.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>24x7 Ambulance</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #2 Ends -->
                    <!-- Box #3 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>24x7 Ambulance</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #3 Ends -->
                    <!-- Box #4 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>24x7 Ambulance</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #4 Ends -->
                    <!-- Box #5 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img1.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>24x7 Ambulance</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #5 Ends -->
                    <!-- Box #6 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img1.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>24x7 Ambulance</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #6 Ends -->
                </div>
            </div>
            <!-- Tab #3 Ends -->
            <!-- Tab #4 Starts -->
            <div class="tab-pane fade" id="tab-4">
                <div class="row">
                    <!-- Box #1 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Qualified Doctors</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #1 Ends -->
                    <!-- Box #2 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Qualified Doctors</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #2 Ends -->
                    <!-- Box #3 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img4.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Qualified Doctors</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #3 Ends -->
                    <!-- Box #4 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Qualified Doctors</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #4 Ends -->
                    <!-- Box #5 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img6.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Qualified Doctors</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #5 Ends -->
                    <!-- Box #6 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Qualified Doctors</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #6 Ends -->
                </div>
            </div>
            <!-- Tab #4 Ends -->
            <!-- Tab #5 Starts -->
            <div class="tab-pane fade" id="tab-5">
                <div class="row">
                    <!-- Box #1 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Medical Pharmacy</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #1 Ends -->
                    <!-- Box #2 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Medical Pharmacy</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #2 Ends -->
                    <!-- Box #3 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Medical Pharmacy</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #3 Ends -->
                    <!-- Box #4 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Medical Pharmacy</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #4 Ends -->
                    <!-- Box #5 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img1.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Medical Pharmacy</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #5 Ends -->
                    <!-- Box #6 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Medical Pharmacy</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #6 Ends -->
                </div>
            </div>
            <!-- Tab #5 Ends -->
            <!-- Tab #6 Starts -->
            <div class="tab-pane fade" id="tab-6">
                <div class="row">
                    <!-- Box #1 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img6.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Pulmonary</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #1 Ends -->
                    <!-- Box #2 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Pulmonary</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #2 Ends -->
                    <!-- Box #3 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img4.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Pulmonary</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #3 Ends -->
                    <!-- Box #4 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Pulmonary</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #4 Ends -->
                    <!-- Box #5 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Pulmonary</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #5 Ends -->
                    <!-- Box #6 Starts -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="box1 text-center-xs">
                            <img src="/images/news/news-thumb-img1.jpg" alt="Blog Image" class="img-responsive img-center-sm img-center-xs">
                            <div class="inner">
                                <h4>Pulmonary</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled.
                                </p>
                                <a href="#" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Box #6 Ends -->
                </div>
            </div>
            <!-- Tab #6 Ends -->
        </div>
        <!-- Tab Content Ends -->
    </div>
    <!-- Services Tab Ends -->
</div>
<!-- Main Container Ends -->
